	/* seccion de privilegios de la página */
:root
{
	--primary-color: red;
	--second-color: black;
	--three-color: white;
	--four-color: gray;
	--five--color: rgba(0,0,0,0.8);
	--six-color: rgb(102, 2, 1);
	--seven-color: rgba(0,0,0,0.9);
	--eight-color: transparent;
	--nine-color: rgba(170, 168, 168, 0.699);
}
*
{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
html
{
	font-size: 62.5%;
}
	/* cuerpo de la página */
body::-webkit-scrollbar 
{
    width: 1rem;
    background: transparent;
}
body::-webkit-scrollbar-thumb
{
	background: var(--six-color);
	border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover
{
	background: var(--primary-color);
}
body 
{
	background: var(--second-color);
	background-position: center;
	font-weight: bold;
	color: var(--primary-color);
}

body p
{
	user-select: none;
	text-align: center;
	word-spacing: 10px;
}
	/* seccion cabeza de la página */
h2
{
	text-align: center;
	font-size: 6.5rem;
	font-weight: bold;
	color: var(--primary-color);
	user-select: none;
	margin: 90px;
}
.contexto
{
	top: 0;
	height: 500px;
	width: auto;
	background-size: cover; 
	background-position: 50% 90%;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img1/backsod.jpg);
	background-attachment: fixed;
	overflow: hidden;
}
.contexto h1
{
	margin-top: 50px;
	padding: 170px;
	text-align: center;
	font-size: 9.9rem;
	user-select: none;
	color: var(--four-color);
	transition: all ease 2s;
}
.contexto h1:hover
{
	color: var(--three-color);
	text-shadow: 0 0 5px var(--three-color), 0 0 5px var(--three-color), 0 0 5px var(--three-color), 0 0 15px var(--three-color);
}
	/*seccion para el menu*/

header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 101%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
	background: var(--five--color);
}
header .logo
{
	position: relative;
	color: var(--nine-color);
	display: inline-block;
	font-size: 2.5rem;
	text-decoration: none;
}
header .logo:hover
{
	color: var(--three-color);
}
header a
{
	user-select: none;
}
header ul
{
	position: relative;
	display: flex;
}
header ul li
{
	list-style: none;
}
header ul li a
{
	display: inline-block;
	color: var(--nine-color);
	font-weight: 600;
	font-size: 1.6rem;
	margin-left: 10px;
	padding: 8px 10px;
	text-decoration: none;
	user-select: none;
}
header ul li a.active,
header ul li a:hover
{
	color:var(--three-color);
	border-radius: 30px;
}
	/* seccion parte trasera */
.contenedor {
	max-width: 100%;
	margin: 5px 5px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta {
	margin: 45px;
}

.contenedor_tarjeta a{
	display: inline-block;
}

.contenedor_tarjeta:hover figure{
	-webkit-transform: perspective(300px) rotateY(180deg);
	-ms-transform: perspective(300px) rotateY(180deg);
	-o-transform: perspective(300px) rotateY(180deg);
	transform: perspective(300px) rotateY(180deg);

	-webkit-box-shadow: 0px 0px 20px var(--three-color);
	-moz-box-shadow: 0px 0px 20px  var(--three-color);
	box-shadow: 0px 0px 20px var(--three-color);
	border-radius: 20px;
}

/*.contenedor_tarjeta:hover figure img {
	filter: blur(2px);
}*/
		/* seccion de edicion de imagen trasera y frontal  (GENERAL)*/
figure {
	padding: 0;
	width: 340px;
	height: 340px;
	margin: 0;
	position: relative;
	transition: all ease 0.7s;
	transform-style: preserve-3d;
	transform: perspective(500px) rotate(0deg);
}
figure .frontal,
figure .trasera {
	user-select: none;
	width: 340px;
	height: 340px;
	border-radius: 11px;
}

figure .frontal {
	display: block;
	/* backface-visibility: hidden; */
}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 0px;
	color: var(--three-color);
	transform: perspective(300px) rotateY(180deg) ;
	backface-visibility: hidden;
	overflow: auto;
	background: var(--seven-color);
}


/*.contenedor_tarjeta:nth-child(1,2,3,4,5,6,7,8,9) figure .trasera 
{}*/


figure .trasera .titulo {
	text-align: center;
	color:var(--three-color);
	font-weight: normal;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 600;
	margin-top: 20px;
}


figure .trasera hr {
	border-radius: 50px;
	height: 1px;
	background: var(--three-color);
	border:none;
	margin-bottom: 20px;
	opacity: .5s;
}

figure .trasera p {
	margin: 10px;
	text-align: justify;
	line-height: 22px;
	font-size: 19px;
	font-weight: 600;
}

.trasera::-webkit-scrollbar
{
 display: none;
}

	/* seccion de barra de busqueda */
.search.active
{
  width: 360px;
}

.search .icon
{
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: var(--second-color);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  cursor: pointer;
}

.search .icon::before
{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  transform: translate(-4px,-4px);
}

.search .icon::after
{
  content: '';
  position: absolute;
  width: 3px;
  height: 10px;
  background: var(--primary-color);
  border-radius: 50%;
  transform: translate(6px,6px) rotate(315deg);
}
.search .input
{
  position: relative;
  width: 300px;
  height: 35px;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .input input
{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 0;
  background: var(--second-color);
  color: var(--primary-color);
}
::placeholder
{
	color: var(--primary-color);
}
.clear
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  background: var(--second-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear::before
{
  position: absolute;
  content: '';
  width: 3px;
  height: 15px;
  background: var(--primary-color);
  transform: rotate(45deg);
}
.clear::after
{
  position: absolute;
  content: '';
  width: 3px;
  height: 15px;
  background: var(--primary-color);
  transform: rotate(315deg);
}


/* pie de pagina */

footer 
{
   user-select: none;
   position: relative;
   min-height: 70vh;
   text-align: center;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   background-image: url(img1/back.jfif);
   background-size: cover;
   background-position: center;
}
footer p
{
	font-size: 3.9rem;
	left: 370px;
	position: relative;
}
footer p a
{
  user-select: none;
  color: var(--four-color);
  text-decoration: none;
}
footer p a:hover
{
  user-select: none;
  text-decoration: underline;
  color:var(--primary-color);
}
.derechos
{
	background: var(--second-color);
	color: var(--four-color);
}
.derechos p
{
	font-size: 2.9rem;
	font-weight: bold;
}