@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Zen Maru Gothic', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}


	/* cuerpo de la página */
body::-webkit-scrollbar {
	width: .4em;
	background: #000;
}

body::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
	background: #fff;
}

body {
	color: #000;
}


	/* Titulos */
.contexto {
	width: auto;
	overflow: hidden;
}
.contexto h1 {
	margin-top: 150px;
	text-align: center;
	font-size: 5em;
	transform: rotate(360deg);
	transition: all 1s;
}

h2 {
	text-align: center;
	font-size: 4em;
	padding: 10px;
}


	/* seccion contenedor uno */
.bigcontenedor {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	justify-content: center;
}
.contenedor {
	width: 100%;
	height: 100%;
	flex-grow: 1;
	padding: 0 29px;
	margin: auto;
}

.contenedor figure {
	display: inline-flex;
	margin: 20px;
	position: relative;
	height: 390px;
	width: 390px;
	overflow: hidden;
	border-radius: 10px;
}

.contenedor figure:hover {
	box-shadow: 0px 10px 20px 10px ;
}

.contenedor figure img {
	width: 100%;
	height: 100%;
	transition: all ease 2s;
}

.contenedor figure .capa {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #ffffff95;
	opacity: 0;
	visibility: hidden;
	text-align: center;
}

.contenedor figure:hover > .capa {
	opacity: 1;
	visibility: visible;
}

.contenedor figure > .capa h3 {
	margin-top: 100px;
}

.contenedor figure:hover > img {
	transform: scale(1.6);
}

.contenedor figure > img {
	transition: all .5s;
}

.contenedor figure .capa h3 {
	transition: all .5s;
	font-size: 2em;
}

.contenedor figure .capa p {
	font-size: 1.5rem;
	max-width: 270px;
	margin: auto;
}

.contenedor figure a {
	text-decoration:none;
	color: #000;
	font-size: 1.2rem;
}

.contenedor figure a:hover {
	text-decoration: underline;
	color: #bbb;
}


