@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Zen Maru Gothic', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

	/* cuerpo de la página */
body::-webkit-scrollbar {
	width: .4em;
	background: #000;
}

body::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
	background: #fff;
}

body {
	color: #000;
	
}

.contexto {
	width: auto;
	overflow: hidden;
}
.contexto h1 {
	margin: 150px 0;
	text-align: center;
	font-size: 5em;
	transform: rotate(360deg);
	transition: all 1s;
}

h2 {
	padding: 20px;
	font-size: 4em;
	text-align: center;
}

p {
	font-size: 1.5em;
	padding: 20px;
}

.contenedor {
	margin: 10px;
}

.divmeta, .divnvision{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.nmeta {
	width: 50%;
	border-radius: 7px;
	border: 1px solid #aaa;
	transition: all .5s;
}

.nmeta:hover {
	border: 1px solid #000;
	box-shadow: 5px 5px 15px 2px #000;
	transform: translate(10px, -10px);	
}

.nvision {
	margin-left: auto;
	width: 50%;
	border-radius: 7px;
	border: 1px solid #aaa;
	transition: all .5s;
}

.nvision:hover {
	border: 1px solid #000;
	box-shadow: 0 5px 15px 2px #000;
	transform: translate(-10px, -10px);	
}
